.gocache/

# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Build output
bin/
dist/
tmp/

# Go test output
*.test
*.out

# Dependency
vendor/

# Go workspace
go.work

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Air (hot reload)
.air.toml
tmp/

# Logs
*.log

# Environment variables and secrets
.env
.env.*
!.env.example

# Databases
databases/
*.db
