{{define "content"}}
<script type="text/javascript">
    document.addEventListener('alpine:init', () => {
        Alpine.data('layoutUsersApp', (initialTitle) => ({
            async gotoUserUrl(event) {
                window.location.href = event.currentTarget.dataset.url;
            },
        }))
    })
</script>

<div class="m-auto my-10 w-[90%]" x-data="layoutUsersApp">
    <section>
        <div class="flex w-full flex-row gap-5">
            <ul class="list bg-base-100 rounded-box shadow-md w-60">
                <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">{{t "users.title"}}</li>
                <li class="list-row hover:bg-gray-200">
                    {{range .Users}}
                    <div class="list-col-grow">
                        {{t (print "users." .Name)}}
                    </div>
                    <button class="btn btn-square btn-ghost" @click="gotoUserUrl" data-url="{{.Url}}">
                        <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none"
                                stroke="currentColor">
                                <path d="M6 3L20 12 6 21 6 3z"></path>
                            </g>
                        </svg>
                    </button>
                    {{end}}
                </li>
            </ul>
            <section class="flex-1">
                <div class="w-full">
                    {{block "content_users" .}}{{end}}
                </div>
            </section>
        </div>
    </section>
</div>
{{end}}