{{define "title"}}{{t "users.title"}} - {{t "users.login"}}{{end}}

{{define "content_users"}}
<div class="divider">{{t "users.login"}}</div>
<div class="card bg-base-100 m-auto w-full max-w-sm shrink-0 shadow-2xl">
    <div class="card-body">
        <fieldset class="fieldset">
            <form method="post" id="formRegister">
                <label class="label">Email</label>
                <input type="email" class="input" placeholder="Email" />
                <label class="label">Password</label>
                <input type="password" class="input" placeholder="Password" />
                <div><a class="link link-hover">Forgot password?</a></div>
                <button class="btn btn-neutral mt-4">Login</button>
            </form>
        </fieldset>
    </div>
</div>
{{end}}