{{define "content-layout"}}
<script type="text/javascript">
  document.addEventListener('alpine:init', () => {
    Alpine.data('layoutApp', (initialTitle) => ({
      async changeLang(event) {
        const res = await fetch('/api/lang', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            code: event.target.value,
          }),
        })
        location.reload()
      },
    }))
  })
</script>
<div class="navbar bg-base-100 shadow-sm" x-data="layoutApp">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </div>
      <ul tabindex="-1" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        {{range .Menus}}
        {{ if gt (len .Childs) 0 }}
        <li>
          <a>{{.Name}}</a>
          <ul class="p-2">
            {{ range .Childs }}
            <li><a href="{{.Url}}">{{.Name}}</a></li>
            {{ end }}
          </ul>
        </li>
        {{ else }}
        <li><a href="{{.Url}}">{{.Name}}</a></li>
        {{end}}
        {{end}}
      </ul>
    </div>
    <a class="btn btn-ghost text-xl">rbbr</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      {{range .Menus}}
      {{ if gt (len .Childs) 0 }}
      <li>
        <details>
          <summary>{{.Name}}</summary>
          <ul class="p-2 bg-base-100 w-40 z-1">
            {{ range .Childs }}
            <li><a href="{{.Url}}">{{.Name}}</a></li>
            {{ end }}
          </ul>
        </details>
      </li>
      {{ else }}
      <li><a href="{{.Url}}">{{.Name}}</a></li>
      {{end}}
      {{end}}
    </ul>
  </div>
  <div class="navbar-end">
    <select class="select w-25" @change="changeLang">
      <option {{if eq .Lang "en" }}selected{{end}} value="en">English</option>
      <option {{if eq .Lang "zh-TW" }}selected{{end}} value="zh-TW">繁體中文</option>
    </select>
  </div>
</div>
<main>{{block "content" .}}{{end}}</main>
{{end}}