{{define "title"}}{{t "user.title"}} - {{t "user.register"}}{{end}}

{{define "content_users"}}
<script type="text/javascript">
    document.addEventListener('alpine:init', () => {
        Alpine.data('registerApp', (initialTitle) => {
            return {
                form: {
                    account: '',
                    password: '',
                    confirmPassword: ''
                },
                __errorMessage: [],
                minLengthAccount: parseInt('{{.MinLengthAccount}}'),
                minLengthPassword: parseInt('{{.MinLengthPassword}}'),
                getErrorMessage() {
                    return this.__errorMessage.join("\n");
                },
                setErrorMessage(value = "", reset = false) {
                    if (reset) {
                        this.__errorMessage = [];
                    }
                    if (value !== "") {
                        this.__errorMessage.push(value);
                    }
                },
                validateField(field) {
                    if (field === 'account') {
                        if (!this.form.account) {
                            this.setErrorMessage('{{t "error.cannot_be_empty" (kv "Name" (t "user.auth.account"))}}');
                        }
                        else if (this.form.account.length < this.minLengthAccount) {
                            this.setErrorMessage('{{t "error.min_characters_required" (kv "Name" (t "user.auth.account")) (kv "Length" .MinLengthAccount)}}');
                        }
                    }

                    if (field === 'password') {
                        if (!this.form.password) {
                            this.setErrorMessage('{{t "error.cannot_be_empty" (kv "Name" (t "user.auth.password"))}}');
                        }
                        else if (this.form.password.length < this.minLengthPassword) {
                            this.setErrorMessage('{{t "error.min_characters_required" (kv "Name" (t "user.auth.password")) (kv "Length" .MinLengthPassword)}}');
                        }

                        if (this.form.password && this.form.confirmPassword) {
                            this.validateField('confirmPassword');
                        }
                    }

                    if (field === 'confirmPassword') {
                        if (this.form.confirmPassword !== this.form.password) {
                            this.setErrorMessage('{{t "error.passwords_do_not_match"}}');
                        }
                    }
                },
                validateAll() {
                    this.setErrorMessage("", true);
                    this.validateField('account');
                    this.validateField('password');
                    return this.__errorMessage.length === 0;
                },
                async handleSubmit(event) {
                    if (!this.validateAll()) {
                        return;
                    }
                    const res = await fetch('/api/user/register', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(this.form),
                    })

                    const data = await res.json();
                    if (typeof data.code !== "undefined" && data.code === "validation_failed") {
                        alert(data.message)
                    }
                    else {
                        alert(data.message)
                        window.location.href = "/";
                    }
                    console.log(data);
                },
            }
        })
    })
</script>
<div class="divider">{{t "user.register"}}</div>
<form method="post" id="formRegister" @submit.prevent="handleSubmit" x-data="registerApp">
    <div class="card bg-base-100 m-auto w-full max-w-sm shrink-0 shadow-2xl">
        <div class="card-body">
            <fieldset class="fieldset">
                <label class="label">{{t "user.auth.account"}}</label>
                <input type="text" class="input" x-model="form.account"
                    placeholder='{{t "placeholder.input.value" (kv "Name" (t "user.auth.account"))}}'
                    autocomplete="username" />
                <label class="label">{{t "user.auth.password"}}</label>
                <input type="password" name="password" x-model="form.password" class="input" placeholder='{{t "placeholder.input.value" (kv "Name"
                (t "user.auth.password" ))}}' autocomplete="new-password" />
                <label class="label">{{t "user.auth.confirmPassword"}}</label>
                <input type="password" nmae="confirmPassword" x-model="form.confirmPassword" class="input" placeholder='{{t "placeholder.input.value" (kv "Name"
                (t "user.auth.confirmPassword" ))}}' autocomplete="new-password" />
                <div x-show="getErrorMessage() !== ''" role="alert"
                    class="alert alert-error alert-soft whitespace-pre-line mt-3">
                    <span x-html='getErrorMessage()'></span>
                </div>
                <button class="btn btn-primary mt-4">{{t "user.register"}}</button>
            </fieldset>
        </div>
    </div>
</form>
{{end}}