{{define "title"}}{{t "user.title"}} - {{t "user.reset.password.title"}}{{end}}

{{define "content_users"}}
<script type="text/javascript">
    document.addEventListener('alpine:init', () => {
        Alpine.data('resetPasswordApp', (initialTitle) => {
            return {
                loading: false,
                form: {
                    oldPassword: '',
                    newPassword: '',
                    confirmNewPassword: ''
                },
                toast: {
                    show: false,
                    message: '',
                    type: 'success'
                },
                minLengthPassword: parseInt('{{.MinLengthPassword}}'),
                showToast(msg, type = 'success') {
                    this.toast.message = msg;
                    this.toast.type = type;
                    this.toast.show = true;
                    setTimeout(() => this.toast.show = false, 3000);
                },
                async handleSubmit(event) {
                    this.loading = true;
                    try {
                        if (this.form.oldPassword === "") {
                            throw Error('{{t "error.cannot_be_empty" (kv "Name" (t "user.old.password.title"))}}');
                        }
                        if (this.form.newPassword === "") {
                            throw Error('{{t "error.cannot_be_empty" (kv "Name" (t "user.new.password.title"))}}');
                        }
                        if (this.form.newPassword.length < this.minLengthPassword) {
                            throw Error('{{t "error.min_characters_required" (kv "Name" (t "user.new.password.title")) (kv "Length" .MinLengthPassword)}}');
                        }
                        if (this.form.confirmNewPassword !== this.form.newPassword) {
                            throw Error('{{t "error.passwords_do_not_match"}}');
                        }
                        if (this.form.oldPassword === this.form.newPassword) {
                            throw Error('{{t "error.auth.password.new.same.as.current"}}');
                        }

                        const res = await fetch(`/api/user/reset-password`, {
                            method: 'POST',
                            headers: { 'Content-Type': 'application/json' },
                            body: JSON.stringify({
                                oldPassword: this.form.oldPassword,
                                newPassword: this.form.newPassword,
                                confirmNewPassword: this.form.confirmNewPassword,
                            })
                        });
                        const data = await res.json();

                        if (!res.ok) throw new Error(data.error);

                        this.showToast(data.message, 'success');

                        setTimeout(() => {
                            window.location.href = "/user/login"
                        }, 3000);
                    } catch (err) {
                        console.log(555, this.form)
                        this.showToast(err.message, 'error');
                    } finally {
                        this.loading = false;
                    }
                },
            }
        })
    })
</script>
<div class="divider">{{t "user.reset.password.title"}}</div>
<div @submit.prevent="handleSubmit" x-data="resetPasswordApp">
    <div x-show="toast.show" x-transition class="toast toast-top toast-end z-50">
        <div class="alert" :class="toast.type === 'success' ? 'alert-success' : 'alert-error'">
            <span x-text="toast.message"></span>
        </div>
    </div>
    <form method="post">
        <div class="card bg-base-100 m-auto w-full max-w-sm shrink-0 shadow-2xl">
            <div class="card-body">
                <fieldset class="fieldset">
                    <input class="hidden" type="email" name="email" autocomplete="username">
                    <label class="label">{{t "user.old.password.title"}}</label>
                    <input type="password" x-model="form.oldPassword" class="input" placeholder='{{t "placeholder.input.value" (kv "Name"
                (t "user.old.password.title" ))}}' autocomplete="new-password" required />
                    <div class="divider"></div>
                    <label class="label">{{t "user.new.password.title"}}</label>
                    <input type="password" x-model="form.newPassword" class="input" placeholder='{{t "placeholder.input.value" (kv "Name"
                (t "user.new.password.title" ))}}' autocomplete="new-password" required />
                    <label class="label">{{t "user.confirm.password.title"}}</label>
                    <input type="password" x-model="form.confirmNewPassword" class="input" placeholder='{{t "placeholder.input.value" (kv "Name"
                (t "user.confirm.password.title" ))}}' autocomplete="new-password" required />
                    <button class="btn btn-primary mt-4">{{t "user.reset.password.title"}}</button>
                </fieldset>
            </div>
        </div>
    </form>
</div>
{{end}}