{{define "base"}}
<!doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>rbbr - {{block "title" .}}{{end}}</title>

  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

  <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
  <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />

  <script src="//unpkg.com/alpinejs" defer></script>
  {{block "include-javascript" .}}{{end}}
  {{block "include-css" .}}{{end}}
</head>

<body>
  {{block "content-layout" .}}{{end}}
</body>

</html>
{{end}}